*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Karla, sans-serif;
}

body{
  background-color: #E6EFF6;
}

#root{  
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.content{
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden; 
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}

.top{
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  background-color: white;
}

/* TÍTULO DE JOIN */
h2{ 
  color: #509F9F;
  margin-bottom: 15px;
}

/* SUBTÍULO 30-day*/
#day{
  color: #D5EB64;
  margin: 16px 0;
}

/* DESCRIÇÃO DO PRIMEIRO QUADRO */
.description{
  color: #b3b7bd;
  font-size: 16px;
  font-weight: 200;
  line-height: 28px;
}

.bottom{
  display: flex;
  width: 100%;
  flex-direction: column;
}

.left{
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #2BB3B1;
  padding: 20px;
}

/*Monthy subscription e Why Us*/
.subtitle{
  color: white;
  margin-bottom: 12px;
}

/*PRICE */
h1{
  color: white;
  display: flex;
  align-items: center;
}

/*ESCRITA "Per Month" */
#month{
  color: rgba(255, 255, 255, 0.6);
  font-weight: 200;
  font-size: 14px;
  margin-left: 8px;
}

/* ESCRITA DO "Full acess" */
.access{
  color: white;
  margin: 16px 0;
  font-size: 14px;
}

/* BOTÃO SIGN UP */
.btn{
  color: white;
  background-color: #BFDF32;
  width: 100%;
  border-radius: 5px;
  border: none;
  padding: 15px;
}

.right{
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #4ABEBD;
  padding: 20px;
}

/*LISTA DO "Why Us" */
.list{
  color: white;
  font-size: 14px;
  margin-top: 6px;
}

footer{
  margin-top: 10px;
}
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (min-width: 640px) {
  .content{
    width: 600px;
  }

  .bottom{
    flex-direction: row;
  }
}